<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>customer.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>customer.profileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>customer.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomerServlet</servlet-name>
        <servlet-class>customer.addCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>totalCustomerServlet</servlet-name>
        <servlet-class>customer.totalCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCustomerServlet</servlet-name>
        <servlet-class>customer.deleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>depositServlet</servlet-name>
        <servlet-class>transactions.depositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>withdrawServlet</servlet-name>
        <servlet-class>transactions.withdrawServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCustomerServlet</servlet-name>
        <url-pattern>/addCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>totalCustomerServlet</servlet-name>
        <url-pattern>/totalCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCustomerServlet</servlet-name>
        <url-pattern>/deleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>depositServlet</servlet-name>
        <url-pattern>/depositServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>withdrawServlet</servlet-name>
        <url-pattern>/withdrawServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
